@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	background-color: #2e3440;
}

.heading {
	font-family: "Bebas Neue";
	text-align: center;
	color: #eceff4
}

.choose {
	border-radius: 1rem;
	background-color: #3b4252;
	padding: 15px;
	margin: 3rem;
	font-family: "Quicksand";
	font-weight: 400;
}

.container {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	font-family: "Quicksand";
	color: #D8DEE9;
}

.dropdown {
	margin: 0.4rem;
	color: #2e3440;
}

#result {
	font-family: "Quicksand";
	font-weight: 500;
	color: #81a1c1;
	text-align: center;
	font-size: 2rem;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.actual:hover {
	background-color: #81a1c1;
}

.actual {
	transition-duration: 0.4s;
	border: 2px solid #81a1c1;
	background-color: #D8DEE9;
	text-decoration: none;
	text-align: center;
	padding: 15px 30px;
	font-size: 1rem;
	border-radius: 8px;
	color: #2e3440;
}
